
body {
    height: 100vh;
}

.imagem_main {
    justify-content:center;
    align-items: center;
    height: 100%;
    display: flex;
    column-gap: 15px;
}

.item_objeto{
    position: relative;
    width: 200px;
    height: 200px;
    animation:movimento 2s ;
}

@keyframes movimento {
    0%{
        width: 200px;
        height: 200px;
        top: 0;
        left: 0;
    }
    100%{
        width: 70px;
        height: 70px;
        top: -44%;
        left: -45%;

    }

    
}