
body {
    height: 100vh;
}

.quadrado_main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

.quadrado_objeto{
    width: 200px;
    height: 200px;
    background-color:rgb(112, 0, 112);
    position: relative;
    animation:movimento 3s  linear;
    transition: all 500ms;

}


@keyframes movimento {
    0%{
        transform: scale(0);
        background-color: rgb(83, 45, 187);
    }
    100%{
        transform: scale(1);
        background-color: rgb(177, 22, 60);
    }
}
